.container {
  padding: 8px;

  [alc-button],
  .calendar {
    margin: 8px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .success-buttons [alc-button] {
    --alc-button-background: var(--color-green);
    --alc-button-color: var(--color-black);
  }
}
