.container {
  padding: 8px;
  
  [ui-button], .calendar {
    margin: 8px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .success-buttons [ui-button] {
    --ui-button-background: var(--color-green);
    --ui-button-color: var(--color-black);
  }
}