
<h1>UI Components</h1>
<div class="container">
  <h2>Buttons</h2>
  <div class="primary-buttons">
    <button ui-button disabled>Disabled button</button>
    <button ui-button>Enabled button</button>
    <a ui-button href="https://www.google.com">Anchor with button styles</a>
  </div>

  <div class="success-buttons">
    <button ui-button disabled>Disabled button</button>
    <button ui-button>Enabled button</button>
    <a ui-button href="https://www.google.com">Anchor with button styles</a>
  </div>
</div>